<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexus Gourmet - Salão</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&family=Rubik:wght@300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>

    <nav class="navbar">
        <div class="logo" style="display: flex; align-items: center;">
    <img src="{{ url_for('static', filename='img/logosite2.png') }}" alt="Nexus Gourmet" style="height: 45px; width: auto; object-fit: contain;">
</div>
        <div class="navbar-links">
            {% if session.get('user_cargo') == 'ADMINISTRADOR' %}
                <a href="/produtos">Admin</a>
                <a href="/salão" style="background: rgba(0,0,0,0.2); color: #fff;">Salão</a>
                <a href="/cozinha/fila">Cozinha</a>
            {% elif session.get('user_cargo') == 'GARCOM' %}
                <a href="/salão" style="background: rgba(0,0,0,0.2); color: #fff;">Salão</a>
            {% elif session.get('user_cargo') == 'COZINHEIRO' %}
                <a href="/cozinha/fila">Cozinha</a>
            {% endif %}
            <a href="/logout" class="logout">Sair</a>
        </div>
    </nav>

    <div class="content-container">
        {% block content %}{% endblock %}
    </div>

</body>
</html>